.social {
  margin: 0 10px;

  &__title {
    font-family: $Oswald;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  &__subtitle {
    font-family: $Merriweather;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    font-style: italic;
    color: $pink;
    margin-top: 5px;
  }

  &__box {
    border-top: 4px solid $black;
    display: flex;
    margin-bottom: 10px;
  }

  &__streams {
    font-family: $Oswald;
    text-transform: uppercase;
    background: $gray;
    height: 400px;
  }
}

.box {
  &__selector {
    color: $white;
    font-size: 1.4em;
    background: $black;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;
  }
}

.stream {
  &__follow {
    letter-spacing: 1.2px;
    padding: 20px 30px;
    margin: 0;
  }

  &__social-handler {
    color: $pink;
  }

  &__stream {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }

  &__wrapper {
    overflow-x: scroll;
    margin: 0 20px;
    background: $white;
    height: 300px;
    width: 400px ;

    h2 {
      padding-left: 20px;
      i {
        color: $pink;
        font-size: 1.2em;
      }

      span {
        color: $black;
      }
    }

    p {
      font-family: $Lato;
      line-height: 1.6em;
      padding: 0 20px;
      font-weight: lighter;
      text-transform: none;
      margin: 0;
    }
  }
}

.at {
  font-size: 0.8em;
}

.active {
  position: relative;
  overflow: hidden;
  height: 64px;
  font-size: 2em;

  i {
    z-index: 1;
  }

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    display: block;
  }

  &:before {
    border-bottom: 120px solid #de53f3;
    border-right: 254px solid $pink;
  }
}
