nav {
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav{
    &__top, &__bottom {
      display: flex;
    }
    &__top {
      @media screen and (max-width: 960px) {
        display: none;
      }
    }
    &__bottom {
      display: flex;
      justify-content:
      ul {
        @media screen and (max-width: 960px) {
          display: none;
        }
      }
    }
  }
}
