.upcoming {
  background: $gray;
  font-family: $Oswald;
  text-transform: uppercase;
  h2 {
    margin: 0 10px 20px 10px;
    text-align: center;
    border-bottom: 2px solid $black;
    font-size: 1.5em;
    line-height: 70px;
    letter-spacing: 2.5px;
  }
  &__event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    background: $white;
    overflow: hidden;
  }
}

.event {
  &__img {
    margin: 5px 5px;
    width: 115px;
    height: auto;
    background-size: auto;
  }
  &__info {
    flex-grow: 2;
    align-self: stretch;

    h3 {
      color: $pink;
      margin-bottom: 6px;
      letter-spacing: 1.3px;
      font-size: 1.4em;
    }
    h4 {
      font-family: $Merriweather;
      margin-top: 0;
      font-size: 12px;
      letter-spacing: 1.1px;
      text-transform: capitalize;
    }
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 44px;
    color: $pink;
    background: $black;
    letter-spacing: 1.2px;

    .day {
      // border: 1px solid red;
      background: $darkGray;
      position: relative;
      bottom: 8px;
      height:40px;
      width: 100px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;

      &:after,
      &:before {
        height: 0;
        width: 0;
        content: '';
        display: block;
        position: absolute;
      }
      &:before {
        border-bottom: 40px solid transparent;
        border-right: 12px solid $darkGray;
        left: -12px;
      }
      &:after {
        border-bottom: 40px solid $darkGray;
        border-left: 12px solid $darkGray;
        right: -30px;
        bottom: 0px;
        width: 40px;
      }
    }
  }
  &__button {
    background: $pink;
    width: 100%;
    height: 44px;
    border: 0;
    color: $white;
    font-family: $Oswald;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}
